@let type = mode() ? "text" : "password";

<div class="form-control">
	<div class="form-control__left">
		<img [src]="Icons.Lock" width="30" height="30" alt="icon" />
	</div>

	<input
		class="form-control__element"
		[type]="type"
		[placeholder]="placeholder()"
		[disabled]="disabled"
		(input)="handleInput($event)"
	/>

	<div class="form-control__right">
		<button class="form-control__button" type="button" (click)="toggleMode()">
			@if (mode()) {
				<img [src]="Icons.EyeClosed" width="30" height="30" alt="icon" />
			} @else {
				<img [src]="Icons.EyeOpened" width="30" height="30" alt="icon" />
			}
		</button>
	</div>
</div>
