<div class="login">
	<div class="login__image">
		<div class="login__logo">
			<img
				class="login__logo--image"
				width="445"
				height="107"
				alt="Cryptik Logo"
				[src]="Images.Logo"
			/>
		</div>
	</div>
	<div class="login__page">
		<div class="login__container">
			<h1 class="login__heading">Вход</h1>
			<form class="login__form" [formGroup]="form">
				<app-input class="login__form--control" [iconUrl]="Icons.Email" formControlName="email" />

				<app-password-input
					class="login__form--control"
					formControlName="password"
				></app-password-input>

				@if (error) {
					<div class="login__form--errors">{{ error }}</div>
				}

				<app-button [disabled]="false">
					<span>Войти</span>
				</app-button>

				@if (form.controls.email?.invalid && form.controls.email?.touched) {
					<div class="login__form--errors">пожалуйста введите email</div>
				}
				@if (form.controls.password.errors?.["required"] && form.controls.password?.touched) {
					<div class="login__form--errors">Пароль не введен</div>
				}
				@if (form.controls.password.errors?.["noSpaces"] && form.controls.password?.touched) {
					<div class="login__form--errors">Пароль не должен содержать пробелов</div>
				}
			</form>
		</div>
	</div>
</div>
