<div class="header">
	<div class="header__heading">
		<h1>{{ title() }}</h1>
	</div>
	<div class="header__action">
		@if (isShowSearch()) {
			<form class="header__search" [formGroup]="form">
				<app-search-input formControlName="search" />
			</form>
		}
	</div>
	<div class="header__buttons">
		<button type="button" class="header__btn header__btn--notification">
			<img ngSrc="/public/icons/notification.svg" alt="notification" width="24" height="24" />
		</button>
		<div class="header__profile">
			<img [src]="profileData()?.avatar" alt="avatar" width="44" height="44" />
			<span class="header__username"
				>{{ profileData()?.firstName }} {{ profileData()?.lastName }}</span
			>
		</div>
	</div>
</div>
